url
/tramp
speed-type
/smex-items
/projectile-bookmarks.eld
/places
/ido.last
games
eshell
elpa
/bookmarks
backups
auto-save-list/
/abbrev_defs
/.org-id-locations
/.mc-lists.el
/recentf
/personal-init.el
