url
/tramp
speed-type
/smex-items
/projectile-bookmarks.eld
/places
/ido.last
games
eshell
elpa
/bookmarks
backups
auto-save-list/
/abbrev_defs
/.org-id-locations
/recentf
/personal-init.el
/recentf~
/etc/
/.DS_Store
/private.org
/private.el
/SessionDesktop.el
/emojis/
/templates/
/projectile.cache
/elfeed.org
